body {
    background-color: black;
}

.main-block {
    width: 640px;
    height: 328px;

    background-color: white;
    border-radius: 4px;
}

.main-block-move {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

h1 {
    margin-top: 40px;

    font-family: "ubuntu";
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}